@page "/"
<!-- @using JDR.Models -->

<PageTitle>Home</PageTitle>

<h3>Fight</h3>

<p><strong>Player 1:</strong> @warrior.Name</p>
<p><strong>Vie du joueur:</strong> @warrior.HealthValue HP</p>

<p><strong>Player 2:</strong> @mage.Name</p>
<p><strong>Vie du joueur:</strong> @mage.HealthValue HP</p>

<button class="btn btn-danger" @onclick="Attack">Attaquer le mage</button>

@code {
    private Hero_Warrior warrior;
    private Hero_Mage mage;

    protected override void OnInitialized()
    {
        // Initialize player 1
        warrior = new Hero_Warrior("Ragnar", 1, 0, 20, 12, 5, 3);

        // Initialize player 2
        mage = new Hero_Mage("Ariana", 1, 0, 16, 18, 7, 2);
    }

    private void Attack()
    {
        warrior.Attack(mage);
    }
}