@media screen and (max-width: 768px) {
    #game-container {
        flex-direction: column;
    }

    #left-panel, #center-panel, #right-panel {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    #center-panel {
        margin: 10px;
    }

    .grid {
        max-width: 100%;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Main container */
#game-container {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 20px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

/* Left panel */
#left-panel {
    width: 20%;
    min-width: 260px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

/* Center panel */
#center-panel {
    width: 55%;
    min-width: 658px;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
}

/* Right panel */
#right-panel {
    width: 25%;
    min-width: 200px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    min-height: 100%;
    padding-right: 10px;
}

/* Allows content above #console to occupy available space */
#right-panel > *:not(#console) {
    flex: 1;
    overflow-y: auto; /* Adds scrollbar if overflow */
}

/* Pushes #console to the bottom */
#console {
    margin-top: auto;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup button {
    margin-top: 10px;
}

#header {
    width: 100%;
    background-color: #1a1e21;
    text-align: center;
    padding: 10px 0;
}

#center-panel-characterstats {
    text-align: center;
    width: 100%;
    margin: 10px;
}

#hero-stats h4:first-of-type, #hero-inventory h4, #fight h4:first-of-type {
    margin: 0 0 8px 15px;
}

#hero-stats, #hero-inventory {
    margin: 0;
}

#fight {
    margin: 0;
}

#hero-stats .stats h4, #fight .hero h4, #fight .opponent h4 {
    margin-left: 0;
    padding-left: 0;
}

.fight-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats, .inventory, .hero, .opponent {
    padding: 10px;
    border: 2px solid #f00;
}

.stats p, .inventory p, .hero p, .opponent p {
    margin-bottom: 10px;
}

.btn-danger {
    margin: 5px;
}

button:focus {
    outline: 2px solid #0063d6;
}
