.grid {
    display: grid;
    grid-template-rows: repeat(10, 64px);
    grid-template-columns: repeat(10, 64px);
    gap: 2px;
    margin: auto;
    width: 658px;
    outline: 2px solid black; /* Supprimer le contour sur focus */
}

.cell {
    width: 64px;
    height: 64px;
    background-color: lightgray;
    border: 1px solid #ddd;
}

.player {
    background: none;
}

@keyframes spriteAnimation {
    from {
        background-position: 0px;
    }

    to {
        background-position: -384px;
    }
    /* 64px * 6 frames */
}

.sprite {
    width: 64px; /* largeur d'une frame */
    height: 64px; /* hauteur d'une frame */
    background-image: url('/images/Run-Sheet.png');
    background-repeat: no-repeat;
    animation: spriteAnimation 1s steps(6) infinite;
    transform-origin: center center;
}

.Right {
    transform: scaleX(1);
}

.Left {
    transform: scaleX(-1);
}

#title {
    text-align: center;
}