.grid {
    display: grid;
    grid-template-rows: repeat(10, 64px);
    grid-template-columns: repeat(10, 64px);
    gap: 2px;
    width: 100%;
    max-width: 658px;
    outline: 2px solid black; /* Remove outline on focus */
    margin: 0 auto;
}

.cell {
    width: 64px;
    height: 64px;
    background-color: lightgray;
    background-image: url('./images/Tileset.png');
    background-size: cover;
}



.heroSprite {
    background-image: url('./images/Hero_Walk2.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

@keyframes treasureSpriteAnimation {
    from {
        background-position: 0;
    }
    to {
        background-position: -189px;
    }
}

.treasureSprite {
    width: 64px;
    height: 64px;
    background-image: url('./images/Chest.png');
    background-repeat: no-repeat;
    animation: treasureSpriteAnimation 0.8s steps(3) infinite;
    transform-origin: center center;
}

.Right {
    transform: scaleX(1);
}

.Left {
    transform: scaleX(-1);
}

.monster {
    background-image: url('./images/Goblin_Idle2.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.boss {
    background-image: url('./images/Skeleton_Idle2.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.fountain {
    background-image: url('./images/fountain2.gif');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}